<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Splitdumb</title>
</head>
<body>
	<h1>Cadastro de Compras</h1>
	
	<form th:action="@{/compra/list-by-group}" method="post">
		<label>Escolha o Grupo</label>
		<select name="grupo" id="grupo">
			<option th:each="grupo : ${grupos}" th:value="${grupo.codigo}" th:text="${grupo.nome}">Nome grupo</option>
		</select>
		
		<input type="submit" value="Enviar">
	</form>
	<br>
	
	<a href="#" th:href="@{/}"> Voltar </a>
</body>
</html>