<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Splitdumb</title>
</head>
<body>
		<h1>Pesquisa de Grupos</h1>

	<form th:action="@{/api/splitdumb/grupos/pesquisar}" method="post">
		<label for="id">ID</label>
		
		<input type="number" name="id" id="id">

		<label for="nome">Nome</label>
		<input type="text" name="nome" id="nome">

		<input type="submit" value = "Pesquisar"/>
	</form>
	<br>
	<hr>
	<br>
		<a th:href="@{/}">Voltar</a>
</body>
</html>