<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Spring MVC com Spring Boot</title>
</head>
<body>
	<h1>Sitema de Vacinação!</h1>

	 <form th:action="@{api/splitdumb/pessoas/cadastra}" method="post">
        <input type="text" name="nome" id="nome" placeholder="Digite seu nome">

        <input type="submit" value="Enviar">
    </form>

</body>
</html>