<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Splitdumb</title>
</head>

<body>
	<h1>Página de Login</h1>
	<p th:if="${param.error}">Usuário e/ou senha inválidos.</p>
	<p th:if="${param.logout}">Você foi deslogado.</p>
	<form th:action="@{/login}" method="post">
		<p>
			<label for="username">Usuário:</label>
			<input type="text" id="username" name="username" autofocus="autofocus">
		</p>
		<p>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password">
		</p>
		<input type="submit" value="Logar" />
	</form>
	<p>
		<a href="#" th:href="@{/}">Voltar para página principal</a>
	</p>
</body>

</html>